@page
@model Proyecto.Pages.LogoutModel

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url=/Login" />
</head>
<body>
    <p>Cerrando sesión...</p>
</body>
</html>