@page
@model MyApp.Namespace.NosotrosModel
@{
    ViewData["Title"] = "Nosotros";
}
<style>
    body {
        background: url(/img/laboratorio-clinico.jpg);
        overflow-x: hidden;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
    }
    .fondo-transparente{
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 1rem;
        padding: 1rem;
        padding-bottom: 3rem;
        padding-top: 3rem;
        backdrop-filter: blur(10px);
    }
</style>
<div class="text-center">
    
    </div>
    <div class="fondo-transparente text-center">
        <h5 class="fw-normal lh-lg mb-3">En CheckLab si creemos en la importancia de una atencion
        medica accesible, eficiente y de calidad, Nacimos con la mison
        de trasnformar la experiencia de los pacientes en el acceso a
        los servicios de laboratorios, eliminando largas esperas y brindando
        soluciones tecnologicas para que faciliten cada paso del proceso</h5>
        <h3 class="display-4 fw-bolder text-primary mb-3">¿Quienes somos?</h3>
        <h5 class="fw-normal lh-lg">Somos un equipo de profesionales de la salud y la tecnologia
        comprometidos en optimizar el agendamiento de citas, la gestion
        de resultados y la interaccion entre pacientes y especialistas.
        Nuestro enfoque esta basado en la innovacion y la confianza,
        garantizando seguridad, rapidez y comodidad en cada servicio.</h5>
    </div>
</div>
