@page
@model Proyecto.Pages.RegistroEnfermeroModel
@{
    ViewData["Title"] = "Registro de Enfermero";
}
<style>
    body {
        background: url(/img/Fondos.jpg);
        overflow-x: hidden;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
    }
    .fondo-transparente{
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
    }
</style>

<div class="mb-3">
    <h1 class="display-4 text-center">Registrar Enfermero</h1>
</div>

@if (!string.IsNullOrEmpty(Model.Mensaje))
{
    <div class="alert alert-danger">@Model.Mensaje</div>
}

<form method="post" class="col-8 mx-auto fondo-transparente p-3 border rounded-3">
    <div class="mb-3">
        <label asp-for="Registro.TipoDocumento"></label>
        <select asp-for="Registro.TipoDocumento" class="form-select" required>
            <option value="">Seleccione...</option>
            <option value="CC">Cédula de Ciudadanía</option>
            <option value="CE">Cédula de Extranjería</option>
        </select>
        <span asp-validation-for="Registro.TipoDocumento" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Registro.Documento"></label>
        <input asp-for="Registro.Documento" class="form-control" type="text" required />
        <span asp-validation-for="Registro.Documento" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Registro.Nombres"></label>
        <input asp-for="Registro.Nombres" class="form-control" required />
        <span asp-validation-for="Registro.Nombres" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Registro.Apellidos"></label>
        <input asp-for="Registro.Apellidos" class="form-control" required />
        <span asp-validation-for="Registro.Apellidos" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Registro.Correo"></label>
        <input asp-for="Registro.Correo" class="form-control" required />
        <span asp-validation-for="Registro.Correo" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Registro.Telefono"></label>
        <input asp-for="Registro.Telefono" class="form-control" type="text" required />
        <span asp-validation-for="Registro.Telefono" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Registro.Contraseña"></label>
        <input asp-for="Registro.Contraseña" type="password" class="form-control" required />
        <span asp-validation-for="Registro.Contraseña" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Registro.ConfirmarContraseña"></label>
        <input asp-for="Registro.ConfirmarContraseña" type="password" class="form-control" required />
        <span asp-validation-for="Registro.ConfirmarContraseña" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary d-grid col-4 mx-auto mb-3">Registrar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}